In [48]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q htt  https://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

# **Show the Data**

In [49]:
df=spark.read.format("csv").option("header","true").option("inferschema","true").load("/content/Walmart.csv");
df.show()

+----------+---------+---------+---------+---------+--------+---------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close|
+----------+---------+---------+---------+---------+--------+---------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|
|04-01-2012|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|
|05-01-2012|59.349998|59.619999|58.369999|59.419998|12768200|51.825539|
|06-01-2012|59.419998|59.450001|58.869999|     59.0| 8069400| 51.45922|
|09-01-2012|59.029999|59.549999|58.919998|    59.18| 6679300|51.616215|
|10-01-2012|    59.43|59.709999|    58.98|59.040001| 6907300|51.494109|
|11-01-2012|59.060001|59.529999|59.040001|59.400002| 6365600|51.808098|
|12-01-2012|59.790001|     60.0|59.400002|     59.5| 7236400|51.895316|
|13-01-2012|    59.18|59.610001|59.009998|59.540001| 7729300|51.930204|
|17-01-2012|59.869999|60.110001|    59.52|59.849998| 8500000|52.200581|
|18-01-2012|59.790001|60.029999|59.650002|60.009998| 5911400|52.340131|
|19-01-2012|    59.93|    60.73|    59.75|60.610001| 9234600|52.863447|
|20-01-2012|    60.75|    61.25|60.669998|61.009998|10378800|53.212321|
|23-01-2012|60.810001|    60.98|60.509998|    60.91| 7134100|53.125104|
|24-01-2012|    60.75|     62.0|    60.75|61.389999| 7362800|53.543754|
|25-01-2012|    61.18|61.610001|61.040001|61.470001| 5915800|53.613531|
|26-01-2012|61.799999|    61.84|    60.77|60.970001| 7436200|53.177436|
|27-01-2012|60.860001|61.119999|60.540001|60.709999| 6287300|52.950665|
|30-01-2012|60.470001|    61.32|60.349998|61.299999| 7636900|53.465257|
|31-01-2012|61.529999|    61.57|60.580002|61.360001| 9761500| 53.51759|
+----------+---------+---------+---------+---------+--------+---------+
only showing top 20 rows

# Spark has understood the datatypes by itself

In [50]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [51]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [52]:
len(df.columns)

7

In [53]:
df.describe()

DataFrame[summary: string, Date: string, Open: string, High: string, Low: string, Close: string, Volume: string, Adj Close: string]

In [54]:
df.describe().show()

+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|             Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|             1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null|72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null| 6.76809024470826|6.768186808159218|6.744075756255496| 6.75685916373299|  4519780.8431556|6.722609449996858|
|    min|01-02-2012|        56.389999|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|31-12-2015|        90.800003|        90.970001|            89.25|        90.470001|         80898100|        84.914216|
+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [55]:
df['Date']

Column<b'Date'>

In [56]:
type(df['Date'])

pyspark.sql.column.Column

In [57]:
df.select('Date','Open').show()

+----------+---------+
|      Date|     Open|
+----------+---------+
|03-01-2012|59.970001|
|04-01-2012|60.209999|
|05-01-2012|59.349998|
|06-01-2012|59.419998|
|09-01-2012|59.029999|
|10-01-2012|    59.43|
|11-01-2012|59.060001|
|12-01-2012|59.790001|
|13-01-2012|    59.18|
|17-01-2012|59.869999|
|18-01-2012|59.790001|
|19-01-2012|    59.93|
|20-01-2012|    60.75|
|23-01-2012|60.810001|
|24-01-2012|    60.75|
|25-01-2012|    61.18|
|26-01-2012|61.799999|
|27-01-2012|60.860001|
|30-01-2012|60.470001|
|31-01-2012|61.529999|
+----------+---------+
only showing top 20 rows

# **If you want to select multiple columns , you can pass them via list also**

In [58]:
df.select(['Date','Open']).show()

+----------+---------+
|      Date|     Open|
+----------+---------+
|03-01-2012|59.970001|
|04-01-2012|60.209999|
|05-01-2012|59.349998|
|06-01-2012|59.419998|
|09-01-2012|59.029999|
|10-01-2012|    59.43|
|11-01-2012|59.060001|
|12-01-2012|59.790001|
|13-01-2012|    59.18|
|17-01-2012|59.869999|
|18-01-2012|59.790001|
|19-01-2012|    59.93|
|20-01-2012|    60.75|
|23-01-2012|60.810001|
|24-01-2012|    60.75|
|25-01-2012|    61.18|
|26-01-2012|61.799999|
|27-01-2012|60.860001|
|30-01-2012|60.470001|
|31-01-2012|61.529999|
+----------+---------+
only showing top 20 rows

In [59]:
type(df.select('Date'))

pyspark.sql.dataframe.DataFrame

In [60]:
df.head(2)

[Row(Date='03-01-2012', Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619235),
 Row(Date='04-01-2012', Open=60.209999, High=60.349998, Low=59.470001, Close=59.709999, Volume=9593300, Adj Close=52.078475)]

In [61]:
type(df.head(2)[0])

pyspark.sql.types.Row

# **Add new Column**

In [62]:
ms=df.withColumn('Copy_Date',df['Date']);
ms.show()

+----------+---------+---------+---------+---------+--------+---------+----------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close| Copy_Date|
+----------+---------+---------+---------+---------+--------+---------+----------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|03-01-2012|
|04-01-2012|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|04-01-2012|
|05-01-2012|59.349998|59.619999|58.369999|59.419998|12768200|51.825539|05-01-2012|
|06-01-2012|59.419998|59.450001|58.869999|     59.0| 8069400| 51.45922|06-01-2012|
|09-01-2012|59.029999|59.549999|58.919998|    59.18| 6679300|51.616215|09-01-2012|
|10-01-2012|    59.43|59.709999|    58.98|59.040001| 6907300|51.494109|10-01-2012|
|11-01-2012|59.060001|59.529999|59.040001|59.400002| 6365600|51.808098|11-01-2012|
|12-01-2012|59.790001|     60.0|59.400002|     59.5| 7236400|51.895316|12-01-2012|
|13-01-2012|    59.18|59.610001|59.009998|59.540001| 7729300|51.930204|13-01-2012|
|17-01-2012|59.869999|60.110001|    59.52|59.849998| 8500000|52.200581|17-01-2012|
|18-01-2012|59.790001|60.029999|59.650002|60.009998| 5911400|52.340131|18-01-2012|
|19-01-2012|    59.93|    60.73|    59.75|60.610001| 9234600|52.863447|19-01-2012|
|20-01-2012|    60.75|    61.25|60.669998|61.009998|10378800|53.212321|20-01-2012|
|23-01-2012|60.810001|    60.98|60.509998|    60.91| 7134100|53.125104|23-01-2012|
|24-01-2012|    60.75|     62.0|    60.75|61.389999| 7362800|53.543754|24-01-2012|
|25-01-2012|    61.18|61.610001|61.040001|61.470001| 5915800|53.613531|25-01-2012|
|26-01-2012|61.799999|    61.84|    60.77|60.970001| 7436200|53.177436|26-01-2012|
|27-01-2012|60.860001|61.119999|60.540001|60.709999| 6287300|52.950665|27-01-2012|
|30-01-2012|60.470001|    61.32|60.349998|61.299999| 7636900|53.465257|30-01-2012|
|31-01-2012|61.529999|    61.57|60.580002|61.360001| 9761500| 53.51759|31-01-2012|
+----------+---------+---------+---------+---------+--------+---------+----------+
only showing top 20 rows

# **Add Multiple Columns at a time**

In [63]:
ms=df.withColumn('Copy_Date',df['Date']).withColumn('Double_Open',df['Open']*2).withColumn('Half_High',df['High']/2);
ms.show()

+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close| Copy_Date|Double_Open| Half_High|
+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|03-01-2012| 119.940002|30.5300005|
|04-01-2012|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|04-01-2012| 120.419998| 30.174999|
|05-01-2012|59.349998|59.619999|58.369999|59.419998|12768200|51.825539|05-01-2012| 118.699996|29.8099995|
|06-01-2012|59.419998|59.450001|58.869999|     59.0| 8069400| 51.45922|06-01-2012| 118.839996|29.7250005|
|09-01-2012|59.029999|59.549999|58.919998|    59.18| 6679300|51.616215|09-01-2012| 118.059998|29.7749995|
|10-01-2012|    59.43|59.709999|    58.98|59.040001| 6907300|51.494109|10-01-2012|     118.86|29.8549995|
|11-01-2012|59.060001|59.529999|59.040001|59.400002| 6365600|51.808098|11-01-2012| 118.120002|29.7649995|
|12-01-2012|59.790001|     60.0|59.400002|     59.5| 7236400|51.895316|12-01-2012| 119.580002|      30.0|
|13-01-2012|    59.18|59.610001|59.009998|59.540001| 7729300|51.930204|13-01-2012|     118.36|29.8050005|
|17-01-2012|59.869999|60.110001|    59.52|59.849998| 8500000|52.200581|17-01-2012| 119.739998|30.0550005|
|18-01-2012|59.790001|60.029999|59.650002|60.009998| 5911400|52.340131|18-01-2012| 119.580002|30.0149995|
|19-01-2012|    59.93|    60.73|    59.75|60.610001| 9234600|52.863447|19-01-2012|     119.86|    30.365|
|20-01-2012|    60.75|    61.25|60.669998|61.009998|10378800|53.212321|20-01-2012|      121.5|    30.625|
|23-01-2012|60.810001|    60.98|60.509998|    60.91| 7134100|53.125104|23-01-2012| 121.620002|     30.49|
|24-01-2012|    60.75|     62.0|    60.75|61.389999| 7362800|53.543754|24-01-2012|      121.5|      31.0|
|25-01-2012|    61.18|61.610001|61.040001|61.470001| 5915800|53.613531|25-01-2012|     122.36|30.8050005|
|26-01-2012|61.799999|    61.84|    60.77|60.970001| 7436200|53.177436|26-01-2012| 123.599998|     30.92|
|27-01-2012|60.860001|61.119999|60.540001|60.709999| 6287300|52.950665|27-01-2012| 121.720002|30.5599995|
|30-01-2012|60.470001|    61.32|60.349998|61.299999| 7636900|53.465257|30-01-2012| 120.940002|     30.66|
|31-01-2012|61.529999|    61.57|60.580002|61.360001| 9761500| 53.51759|31-01-2012| 123.059998|    30.785|
+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
only showing top 20 rows

# **Rename Column**

In [64]:
hs=ms.withColumnRenamed("Copy_Date","Repeated_Date");
hs.show()

+----------+---------+---------+---------+---------+--------+---------+-------------+-----------+----------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close|Repeated_Date|Double_Open| Half_High|
+----------+---------+---------+---------+---------+--------+---------+-------------+-----------+----------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|   03-01-2012| 119.940002|30.5300005|
|04-01-2012|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|   04-01-2012| 120.419998| 30.174999|
|05-01-2012|59.349998|59.619999|58.369999|59.419998|12768200|51.825539|   05-01-2012| 118.699996|29.8099995|
|06-01-2012|59.419998|59.450001|58.869999|     59.0| 8069400| 51.45922|   06-01-2012| 118.839996|29.7250005|
|09-01-2012|59.029999|59.549999|58.919998|    59.18| 6679300|51.616215|   09-01-2012| 118.059998|29.7749995|
|10-01-2012|    59.43|59.709999|    58.98|59.040001| 6907300|51.494109|   10-01-2012|     118.86|29.8549995|
|11-01-2012|59.060001|59.529999|59.040001|59.400002| 6365600|51.808098|   11-01-2012| 118.120002|29.7649995|
|12-01-2012|59.790001|     60.0|59.400002|     59.5| 7236400|51.895316|   12-01-2012| 119.580002|      30.0|
|13-01-2012|    59.18|59.610001|59.009998|59.540001| 7729300|51.930204|   13-01-2012|     118.36|29.8050005|
|17-01-2012|59.869999|60.110001|    59.52|59.849998| 8500000|52.200581|   17-01-2012| 119.739998|30.0550005|
|18-01-2012|59.790001|60.029999|59.650002|60.009998| 5911400|52.340131|   18-01-2012| 119.580002|30.0149995|
|19-01-2012|    59.93|    60.73|    59.75|60.610001| 9234600|52.863447|   19-01-2012|     119.86|    30.365|
|20-01-2012|    60.75|    61.25|60.669998|61.009998|10378800|53.212321|   20-01-2012|      121.5|    30.625|
|23-01-2012|60.810001|    60.98|60.509998|    60.91| 7134100|53.125104|   23-01-2012| 121.620002|     30.49|
|24-01-2012|    60.75|     62.0|    60.75|61.389999| 7362800|53.543754|   24-01-2012|      121.5|      31.0|
|25-01-2012|    61.18|61.610001|61.040001|61.470001| 5915800|53.613531|   25-01-2012|     122.36|30.8050005|
|26-01-2012|61.799999|    61.84|    60.77|60.970001| 7436200|53.177436|   26-01-2012| 123.599998|     30.92|
|27-01-2012|60.860001|61.119999|60.540001|60.709999| 6287300|52.950665|   27-01-2012| 121.720002|30.5599995|
|30-01-2012|60.470001|    61.32|60.349998|61.299999| 7636900|53.465257|   30-01-2012| 120.940002|     30.66|
|31-01-2012|61.529999|    61.57|60.580002|61.360001| 9761500| 53.51759|   31-01-2012| 123.059998|    30.785|
+----------+---------+---------+---------+---------+--------+---------+-------------+-----------+----------+
only showing top 20 rows

## **Rename Multiple Columns at a time**

In [65]:
hs=ms.withColumnRenamed("Copy_Date","Repeated_Date").withColumnRenamed("Adj Close","Close");
hs.show()

+----------+---------+---------+---------+---------+--------+---------+-------------+-----------+----------+
|      Date|     Open|     High|      Low|    Close|  Volume|    Close|Repeated_Date|Double_Open| Half_High|
+----------+---------+---------+---------+---------+--------+---------+-------------+-----------+----------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|   03-01-2012| 119.940002|30.5300005|
|04-01-2012|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|   04-01-2012| 120.419998| 30.174999|
|05-01-2012|59.349998|59.619999|58.369999|59.419998|12768200|51.825539|   05-01-2012| 118.699996|29.8099995|
|06-01-2012|59.419998|59.450001|58.869999|     59.0| 8069400| 51.45922|   06-01-2012| 118.839996|29.7250005|
|09-01-2012|59.029999|59.549999|58.919998|    59.18| 6679300|51.616215|   09-01-2012| 118.059998|29.7749995|
|10-01-2012|    59.43|59.709999|    58.98|59.040001| 6907300|51.494109|   10-01-2012|     118.86|29.8549995|
|11-01-2012|59.060001|59.529999|59.040001|59.400002| 6365600|51.808098|   11-01-2012| 118.120002|29.7649995|
|12-01-2012|59.790001|     60.0|59.400002|     59.5| 7236400|51.895316|   12-01-2012| 119.580002|      30.0|
|13-01-2012|    59.18|59.610001|59.009998|59.540001| 7729300|51.930204|   13-01-2012|     118.36|29.8050005|
|17-01-2012|59.869999|60.110001|    59.52|59.849998| 8500000|52.200581|   17-01-2012| 119.739998|30.0550005|
|18-01-2012|59.790001|60.029999|59.650002|60.009998| 5911400|52.340131|   18-01-2012| 119.580002|30.0149995|
|19-01-2012|    59.93|    60.73|    59.75|60.610001| 9234600|52.863447|   19-01-2012|     119.86|    30.365|
|20-01-2012|    60.75|    61.25|60.669998|61.009998|10378800|53.212321|   20-01-2012|      121.5|    30.625|
|23-01-2012|60.810001|    60.98|60.509998|    60.91| 7134100|53.125104|   23-01-2012| 121.620002|     30.49|
|24-01-2012|    60.75|     62.0|    60.75|61.389999| 7362800|53.543754|   24-01-2012|      121.5|      31.0|
|25-01-2012|    61.18|61.610001|61.040001|61.470001| 5915800|53.613531|   25-01-2012|     122.36|30.8050005|
|26-01-2012|61.799999|    61.84|    60.77|60.970001| 7436200|53.177436|   26-01-2012| 123.599998|     30.92|
|27-01-2012|60.860001|61.119999|60.540001|60.709999| 6287300|52.950665|   27-01-2012| 121.720002|30.5599995|
|30-01-2012|60.470001|    61.32|60.349998|61.299999| 7636900|53.465257|   30-01-2012| 120.940002|     30.66|
|31-01-2012|61.529999|    61.57|60.580002|61.360001| 9761500| 53.51759|   31-01-2012| 123.059998|    30.785|
+----------+---------+---------+---------+---------+--------+---------+-------------+-----------+----------+
only showing top 20 rows

In [66]:
ms.show(2)

+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close| Copy_Date|Double_Open| Half_High|
+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|03-01-2012| 119.940002|30.5300005|
|04-01-2012|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|04-01-2012| 120.419998| 30.174999|
+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
only showing top 2 rows

# **You can do Addition , Subtraction , Multiplication, Division etc on Columns**

In [67]:
ls=ms.withColumn("Double_Open",ms['Open']-2);
ls.show()

+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close| Copy_Date|Double_Open| Half_High|
+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|03-01-2012|  57.970001|30.5300005|
|04-01-2012|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|04-01-2012|  58.209999| 30.174999|
|05-01-2012|59.349998|59.619999|58.369999|59.419998|12768200|51.825539|05-01-2012|  57.349998|29.8099995|
|06-01-2012|59.419998|59.450001|58.869999|     59.0| 8069400| 51.45922|06-01-2012|  57.419998|29.7250005|
|09-01-2012|59.029999|59.549999|58.919998|    59.18| 6679300|51.616215|09-01-2012|  57.029999|29.7749995|
|10-01-2012|    59.43|59.709999|    58.98|59.040001| 6907300|51.494109|10-01-2012|      57.43|29.8549995|
|11-01-2012|59.060001|59.529999|59.040001|59.400002| 6365600|51.808098|11-01-2012|  57.060001|29.7649995|
|12-01-2012|59.790001|     60.0|59.400002|     59.5| 7236400|51.895316|12-01-2012|  57.790001|      30.0|
|13-01-2012|    59.18|59.610001|59.009998|59.540001| 7729300|51.930204|13-01-2012|      57.18|29.8050005|
|17-01-2012|59.869999|60.110001|    59.52|59.849998| 8500000|52.200581|17-01-2012|  57.869999|30.0550005|
|18-01-2012|59.790001|60.029999|59.650002|60.009998| 5911400|52.340131|18-01-2012|  57.790001|30.0149995|
|19-01-2012|    59.93|    60.73|    59.75|60.610001| 9234600|52.863447|19-01-2012|      57.93|    30.365|
|20-01-2012|    60.75|    61.25|60.669998|61.009998|10378800|53.212321|20-01-2012|      58.75|    30.625|
|23-01-2012|60.810001|    60.98|60.509998|    60.91| 7134100|53.125104|23-01-2012|  58.810001|     30.49|
|24-01-2012|    60.75|     62.0|    60.75|61.389999| 7362800|53.543754|24-01-2012|      58.75|      31.0|
|25-01-2012|    61.18|61.610001|61.040001|61.470001| 5915800|53.613531|25-01-2012|      59.18|30.8050005|
|26-01-2012|61.799999|    61.84|    60.77|60.970001| 7436200|53.177436|26-01-2012|  59.799999|     30.92|
|27-01-2012|60.860001|61.119999|60.540001|60.709999| 6287300|52.950665|27-01-2012|  58.860001|30.5599995|
|30-01-2012|60.470001|    61.32|60.349998|61.299999| 7636900|53.465257|30-01-2012|  58.470001|     30.66|
|31-01-2012|61.529999|    61.57|60.580002|61.360001| 9761500| 53.51759|31-01-2012|  59.529999|    30.785|
+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
only showing top 20 rows

# Working with **SQL**

In [68]:
ls.createOrReplaceTempView('Public');

In [69]:
lg=spark.sql("select * from Public where Date='03-01-2012'");
lg.show()

+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close| Copy_Date|Double_Open| Half_High|
+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|03-01-2012|  57.970001|30.5300005|
+----------+---------+---------+---------+---------+--------+---------+----------+-----------+----------+

# **Filtering Data based on certain condition**

In [26]:
df.show(5)

+----------+---------+---------+---------+---------+--------+---------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close|
+----------+---------+---------+---------+---------+--------+---------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|
|04-01-2012|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|
|05-01-2012|59.349998|59.619999|58.369999|59.419998|12768200|51.825539|
|06-01-2012|59.419998|59.450001|58.869999|     59.0| 8069400| 51.45922|
|09-01-2012|59.029999|59.549999|58.919998|    59.18| 6679300|51.616215|
+----------+---------+---------+---------+---------+--------+---------+
only showing top 5 rows

In [74]:
df.filter(df['Close']<60).select(['Volume','Open','Close']).show()

+--------+---------+---------+
|  Volume|     Open|    Close|
+--------+---------+---------+
| 9593300|60.209999|59.709999|
|12768200|59.349998|59.419998|
| 8069400|59.419998|     59.0|
| 6679300|59.029999|    59.18|
| 6907300|    59.43|59.040001|
| 6365600|59.060001|59.400002|
| 7236400|59.790001|     59.5|
| 7729300|    59.18|59.540001|
| 8500000|59.869999|59.849998|
|28630200|59.580002|58.599998|
|14880300|    58.59|58.540001|
| 9925900|    58.75|58.790001|
|12258800|58.700001|58.459999|
|10761900|58.439999|    58.93|
|11484400|    58.84|59.080002|
|16283900|59.360001|    58.82|
| 9848100|58.990002|59.009998|
| 9651000|58.959999|59.400002|
| 9057100|59.040001|58.970001|
|14916900|59.110001|59.860001|
+--------+---------+---------+
only showing top 20 rows

**Filter using Multiple Condition -- & for and , | for or , ~ for not , if multiple condition present , put them inside ()**

In [80]:
df.filter((df['Close']<80) & ~(df['Open']>70)).select(['Volume','Open','Close']).show()

+--------+---------+---------+
|  Volume|     Open|    Close|
+--------+---------+---------+
|12668800|59.970001|60.330002|
| 9593300|60.209999|59.709999|
|12768200|59.349998|59.419998|
| 8069400|59.419998|     59.0|
| 6679300|59.029999|    59.18|
| 6907300|    59.43|59.040001|
| 6365600|59.060001|59.400002|
| 7236400|59.790001|     59.5|
| 7729300|    59.18|59.540001|
| 8500000|59.869999|59.849998|
| 5911400|59.790001|60.009998|
| 9234600|    59.93|60.610001|
|10378800|    60.75|61.009998|
| 7134100|60.810001|    60.91|
| 7362800|    60.75|61.389999|
| 5915800|    61.18|61.470001|
| 7436200|61.799999|60.970001|
| 6287300|60.860001|60.709999|
| 7636900|60.470001|61.299999|
| 9761500|61.529999|61.360001|
+--------+---------+---------+
only showing top 20 rows

# **Equality Condition Checking**

In [82]:
rs=df.filter(df['Low']==59.869999);
rs.show()

+----------+---------+---------+---------+---------+--------+---------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close|
+----------+---------+---------+---------+---------+--------+---------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|
|16-04-2012|59.939999|60.810001|59.869999|60.580002| 6844600| 53.19094|
|27-11-2015|60.439999|60.689999|59.869999|59.889999| 5340900|57.295243|
+----------+---------+---------+---------+---------+--------+---------+

# **Collect the data as row object to work more on it**

In [83]:
mg=rs.collect()#returns one list

In [93]:
ls=mg[0]#take the first element of the list

In [94]:
ls#it's a row object

Row(Date='03-01-2012', Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619235)

In [95]:
ps=ls.asDict()#Convert to dictionary , so that we can extract data later

In [96]:
ps#print the dictionary

{'Adj Close': 52.619235,
 'Close': 60.330002,
 'Date': '03-01-2012',
 'High': 61.060001,
 'Low': 59.869999,
 'Open': 59.970001,
 'Volume': 12668800}

In [97]:
ps['Close']#Extract data from Dictionary as key value format

60.330002

In [117]:
df.show()

+----------+---------+---------+---------+---------+--------+---------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close|
+----------+---------+---------+---------+---------+--------+---------+
|03-01-2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|
|04-01-2012|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|
|05-01-2012|59.349998|59.619999|58.369999|59.419998|12768200|51.825539|
|06-01-2012|59.419998|59.450001|58.869999|     59.0| 8069400| 51.45922|
|09-01-2012|59.029999|59.549999|58.919998|    59.18| 6679300|51.616215|
|10-01-2012|    59.43|59.709999|    58.98|59.040001| 6907300|51.494109|
|11-01-2012|59.060001|59.529999|59.040001|59.400002| 6365600|51.808098|
|12-01-2012|59.790001|     60.0|59.400002|     59.5| 7236400|51.895316|
|13-01-2012|    59.18|59.610001|59.009998|59.540001| 7729300|51.930204|
|17-01-2012|59.869999|60.110001|    59.52|59.849998| 8500000|52.200581|
|18-01-2012|59.790001|60.029999|59.650002|60.009998| 5911400|52.340131|
|19-01-2012|    59.93|    60.73|    59.75|60.610001| 9234600|52.863447|
|20-01-2012|    60.75|    61.25|60.669998|61.009998|10378800|53.212321|
|23-01-2012|60.810001|    60.98|60.509998|    60.91| 7134100|53.125104|
|24-01-2012|    60.75|     62.0|    60.75|61.389999| 7362800|53.543754|
|25-01-2012|    61.18|61.610001|61.040001|61.470001| 5915800|53.613531|
|26-01-2012|61.799999|    61.84|    60.77|60.970001| 7436200|53.177436|
|27-01-2012|60.860001|61.119999|60.540001|60.709999| 6287300|52.950665|
|30-01-2012|60.470001|    61.32|60.349998|61.299999| 7636900|53.465257|
|31-01-2012|61.529999|    61.57|60.580002|61.360001| 9761500| 53.51759|
+----------+---------+---------+---------+---------+--------+---------+
only showing top 20 rows

# **DataFrame column to List**

In [118]:
ls=df.select('Low');
ls.show()

+---------+
|      Low|
+---------+
|59.869999|
|59.470001|
|58.369999|
|58.869999|
|58.919998|
|    58.98|
|59.040001|
|59.400002|
|59.009998|
|    59.52|
|59.650002|
|    59.75|
|60.669998|
|60.509998|
|    60.75|
|61.040001|
|    60.77|
|60.540001|
|60.349998|
|60.580002|
+---------+
only showing top 20 rows

In [119]:
type(ls)

pyspark.sql.dataframe.DataFrame

# **Convert the selected Column to List of Row objects**

In [120]:
ms=ls.collect()

# **Iterate in the list , convert each row to dictionary , take the value part , append in a list**

In [122]:
mgs=[];
for i in ms:
  ps=i.asDict();
  mgs.append(ps['Low']);

# **Now we can apply all the methods which are applicable on the list data structure to inspect the columns**

In [129]:
max(mgs)

89.25

# **We can verify the results using SQL query as well**

In [130]:
spark.sql("select max(Low) from Public").show()

+--------+
|max(Low)|
+--------+
|   89.25|
+--------+

In [148]:
from pyspark.sql.functions import *

# **Frequently used Aggregate Functions**

In [163]:
df.select(sum('Close').alias("Total Value")).show()

+-----------------+
|      Total Value|
+-----------------+
|91064.67007500009|
+-----------------+

In [161]:
df.select(mean('Close').alias("Average Value")).show()

+-----------------+
|   Smallest Value|
+-----------------+
|72.38844998012726|
+-----------------+

In [162]:
df.select(avg('Close').alias("Average Value")).show()

+-----------------+
|    Average Value|
+-----------------+
|72.38844998012726|
+-----------------+

In [164]:
df.select(max('Close').alias("Maximum Value")).show()

+-------------+
|Maximum Value|
+-------------+
|    90.470001|
+-------------+

In [165]:
df.select(min('Close').alias("Minimum Value")).show()

+-------------+
|Minimum Value|
+-------------+
|    56.419998|
+-------------+

In [166]:
df.select(stddev('Close').alias("Standard Deviation")).show()

+------------------+
|Standard Deviation|
+------------------+
|  6.75685916373299|
+------------------+

In [168]:
df.select(variance('Close').alias("Variance")).show()

+-----------------+
|    Average Value|
+-----------------+
|45.65514575852249|
+-----------------+

# **We can note variance=standard deviation^2**

In [169]:
6.75685916373299**2

45.65514575852249

In [171]:
df.select(countDistinct('Close').alias("Distinct Count Value")).show()

+--------------------+
|Distinct Count Value|
+--------------------+
|                 943|
+--------------------+

In [172]:
df.select(sumDistinct('Close').alias("Sum of Distinct Values")).show()

+----------------------+
|Sum of Distinct Values|
+----------------------+
|     68101.51003699999|
+----------------------+

In [173]:
df.select(skewness('Close').alias("Skewness")).show()

+--------------------+
|            Skewness|
+--------------------+
|-0.24288942803199828|
+--------------------+

In [174]:
df.select(kurtosis('Close').alias("Average Value")).show()

+--------------------+
|       Average Value|
+--------------------+
|-0.13513049800583543|
+--------------------+

In [175]:
df.select(count('Close').alias("Total number of Values")).show()

+----------------------+
|Total number of Values|
+----------------------+
|                  1258|
+----------------------+